<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="<%if(customer.image){%>/customers/<%=customer.image%><%}else{%>https://bootdey.com/img/Content/avatar/avatar6.png<%}%>" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                <div class="mt-4 mb-3">
                    <label class="btn btn-primary" for="customer-image-input">Update Image</label>
                    <input class="d-none" type="file" id="customer-image-input" name="image">
                </div>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <a class="text-info" href="/customer/reservations"><span class="mr-2"><i class="fa-solid fa-car"></i></span>Reservations</a>
                </li>

            </ul>
        </div>
    </div>
</div>