<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="/admin/profile">
        <span class="align-middle"><%= locals.user.name %></span>
      </a>
  
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          Pages
        </li>
  
        <li class="sidebar-item <% if(lastUrl == 'profile') { %> active <% } %>">
          <a class="sidebar-link" href="/admin/profile">
            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
          </a>
        </li>

        <li class="sidebar-item <% if(lastUrl == 'profile') { %> active <% } %>">
          <a class="sidebar-link" href="/admin/cars/features">
            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Features</span>
          </a>
        </li>

        <li class="sidebar-item <% if(lastUrl == 'service') { %> active <% } %>">
          <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseServices" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <i class="fa-solid fa-car"></i><span class="align-middle">Cars</span>
          </a>
          <div class="collapse ms-3" id="collapseServices">
            <a class="sidebar-link" href="/admin/cars">
              <i class="fas fa-th"></i> <span class="align-middle">All Cars</span>
            </a>
            <a class="sidebar-link" href="/admin/cars/status/rented">
              <i class="fas fa-plus"></i> <span class="align-middle">Rented Cars</span>
            </a>
            <a class="sidebar-link" href="/admin/cars/status/available">
              <i class="fas fa-plus"></i> <span class="align-middle">Waiting Cars</span>
            </a>
            <a class="sidebar-link" href="/admin/cars/add">
              <i class="fas fa-plus"></i> <span class="align-middle">Add Car</span>
            </a>
          </div>
        </li>
  

  
      </ul>
  
    </div>
  </nav>
  
  <div class="main">